bin/
obj/
.vs/
.idea/
*.user
*.suo
*.apk
*.aab
artifacts/
TestResults/
*.keystore
*.jks
*.pfx
*.snk
.DS_Store
src/ImageForensics.App/Resources/Raw/*.traineddata
src/ImageForensics.Reporting/Resources/NotoSansArabic-Regular.ttf
